body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #f8f8f8;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

#main-container {
    min-height: 500px;

}

.main-hero-unit {
    overflow: auto;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}


div#personal-avatar {
    float: left;
}

.social-icon{
    width: 40px;
    height: 40px;
}

.description-container
{
    float: left;
}
.description-section {
    margin: 30px;
    position: relative;
}
.description-section p{
    background-color: #ddd;
}


.description-section img {
    margin-left: 15px;
}